*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
}
div{
    position: relative;
    margin-bottom: 30px;
    
}
div > div {
    position: relative;
    float: left;
    background-color: palegoldenrod;
    border: 1px solid black;
    margin: 1%;
    padding: 10px;
}
p{
    position: relative;
    margin: 0px;
    background-color: purple;
    color: white;
    border: 1px solid black;
    font-weight: bold;
    padding: 3px;
    text-align: center;
    width: 150px;
    margin-left: auto;
    top: -10px;
    left: 10px;
}
#p1{
    background-color: purple;
}
#p2{
    background-color: slategrey;
    
}
#p3{
    background-color: red;
}
#greet{
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    margin-top: 250px;
    color: grey;
}
/******** Desktop View *********/
@media (min-width: 992px) {
    .col-lg-4{
        width: 31.3333%;
    }
}

/********* Tablet View **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6{
        width: 48%;
    }
    .col-md-12{
        width: 98%;
    }
}

/******** Mobile View ***********/
@media (max-width: 767px) {
    .col-sm-12{
        width: 98%;
    }
}